<div class="contentall">
    <div class="">
        <img class="loginimg" src="../../assets/img/login5.png" alt="">
    </div>
    <div class="contentUser">
        <h1>Iniciar sesión</h1>
       <div class="user">
        <div>
            <label for="">E-mail</label><br>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Contraseña</label><br>
            <input type="text" name="" id="">
        </div>
        <div>
            <button class="registrarBoton">Continuar</button>
        </div>
        <div>
            <button class="vozBoton">
                <img class="imgmicro" src="../../assets/img/ingresarmicro.png" alt="">
            </button>
        </div>
        <a href="">Registrarse</a>
       </div>
    </div>
</div>
